.toast-dark {
  background-color: #c0c9d7;
  color: #4a4a4a;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Styling for the toast header */
.toast-dark .toast-header {
  background-color: #3d0361;
  color: #ffffff;
  border-bottom: 1px solid #c0c9d7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
}

/* Styling for the toast body */
.toast-dark .toast-body {
  background: linear-gradient(to right, #c0c9d7, #e0e4eb, #c0c9d7);
  color: #4a4a4a;
  padding: 15px;
}

.toast-box {
  position: relative;
  width: 100%;
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
}

.divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.divider {
  border: none;
  height: 2px; /* Adjust the height of the divider */
  width: 80%;
  background: linear-gradient(to right, #70747c, #e0e4eb, #70747c);
  position: relative;
}

.divider::after {
  content: "";
  display: block;
  height: 4px; /* Height of the highlight */
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  ); /* Highlight */
  position: absolute;
  top: -1px; /* Adjust based on the divider height */
  left: 0;
  z-index: 1;
  pointer-events: none;
}
